a {
    text-decoration: none;
}

.wrap {
    padding: 40px 0;
    background-color: #A8C0D6;
    width: auto;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}

.wrap .chat {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.wrap .chat .nickName {
    position: relative;
    overflow: hidden;
    width: 50px;
    font-weight: bold;
    text-align: center;
    border-radius:50%;
    padding : 15px 0;
    height: 50px;
    background-color: #eee;
}


.wrap .chat .textbox {
    position: relative;
    display: inline-block;
    max-width: calc(100% - 70px);
    padding: 10px;
    margin-top: 7px;
    font-size: 13px;
    border-radius: 10px;
}

.wrap .chat .textbox::before {
    position: absolute;
    display: block;
    top: 0;
    font-size: 1.5rem;
}

.wrap .ch1 .textbox {
    margin-left: 20px;
    background-color: #ddd;
}

.wrap .ch1 .textbox::before {
    left: -15px;
    content: "◀";
    color: #ddd;
}

.wrap .ch2 {
    flex-direction: row-reverse;
}

.wrap .ch2 .textbox {
    margin-right: 20px;
    background-color: #F9EB54;
}

.wrap .ch2 .textbox::before {
    right: -15px;
    content: "▶";
    color: #F9EB54;
}

.sendMessage{
    display: inline-block;
    float: left;
    width: 90%;
}
.sendBtn{
    width: 10%;
    height: 35px;
    font-weight: bold;
    float: right;
}

.serverMsg{
    width: auto;
    text-align: center;
    font-weight: bold;
    height: 30px;
    background-color: white;
}

.sendBox{
    display: grid;
}